<form class="flex" [formGroup]="form" (submit)="save()">
  <mat-form-field>
    <mat-label>Tag</mat-label>
    <input matInput formControlName="tag">
  </mat-form-field>
  <button mat-button color="primary" type="submit" [disabled]="form.invalid">Ajouter</button>
</form>
