<app-add-tag></app-add-tag>
<table>
  <thead>
  <tr>
    <th>Tag</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let el of list$ | async">
    <td>{{ el }}</td>
    <td>
      <button mat-icon-button type="button" [matMenuTriggerFor]="optionMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #optionMenu>
        <button mat-menu-item type="button">Modifier</button>
        <button mat-menu-item type="button" (click)="onDelete(el)">Supprimer</button>
      </mat-menu>
    </td>
  </tr>
  </tbody>
</table>
